@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AiAssistant";
}
<h1>AiAssistant</h1>
<p>Enter code to generate unit tests.</p>
<input />
<button>Submit</button>
